<!doctype html>
<html lang="de">
<head>
    <title>ADFD</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='adfd.css') }}"/>
</head>
<body>

{% with node=node -%}
    {% include "menu-top.html" -%}
{% endwith -%}

{% block content -%}{% endblock content -%}

<div class="ui hidden divider"></div>

{% with node=node -%}
    {% include "footer.html" -%}
{% endwith -%}

</body>
</html>
