boltons==16.5.0
bs4
cached-property==1.3.0
flask==0.10.1
flexmock
frozen-flask==0.12
html5lib
mysqlclient==1.3.7
plumbum==1.6.0
pyyaml==3.12
pyphen==0.9.4
sqlalchemy==1.0.10
translitcodec==0.4.0
typogrify==2.0.7
