{% block content %}
<ul id="{{ accordion_id }}" class="accordion" data-accordion>
    {% for i in range(accordion_content|length) %}
    <li class="accordion-navigation">
        <a href="#panel{{ i }}">Accordion 1 (put title here ....)</a>
        <div id="panel{{ i }}" class="content active">
          {{content}}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
