{% extends "__base__.html" -%}

{% block content -%}
    <div id="main">
        <div>
           {# TODO This is where in page nav might end up ...#}
            <div>&nbsp;</div>
        </div>
        <div>
            {% with messages = get_flashed_messages() -%}
                {% if messages -%}
                    {% for message in messages -%}
                        <div>
                            <i class="massive exclamation triangle icon"></i>
                            {{ message }}
                        </div>
                    {% endfor -%}
                {% endif -%}
            {% endwith -%}
            {% if node and node.parents -%}
                {% with node=node -%}
                    {% include "breadcrumbs.html" -%}
                {% endwith -%}
            {% endif -%}
            {% if node.hasArticle %}
                {% with node=node -%}
                    {% include "article.html" -%}
                {% endwith -%}
            {% else %}
                <h1>{{ node.title }}</h1>
            {% endif -%}
            {% if node.isCategory and not node.isHome %}
                {% with nodes=node.children -%}
                    {% include "articles-list.html" -%}
                {% endwith -%}
            {% endif %}
        </div>
    </div>

{% endblock content -%}
