<!doctype html>
<html class="no-js" lang="de">
<head>
    <title>ADFD</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='adfd.css') }}"/>
</head>
<body>

{% with node=node -%}
    {% include "__header__.html" -%}
{% endwith -%}

{% block content -%}{% endblock content -%}

<div class="ui hidden divider"></div>

{% with node=node -%}
    {% include "__footer__.html" -%}
{% endwith -%}

</body>
</html>
