<div>
    {% for node in nodes -%}
        <div>
            <div>
                <a href="{{ url_for("path_route", path=node.relPath) }}">
                    {{ node.title }}
                </a>
                {% if node.sourceLink -%}
                    <span>
                        <a href="{{ node.sourceLink }}">
                            {{ node.identifier }}
                        </a>
                    </span>
                {% endif -%}
            </div>
        </div>
    {% endfor -%}
</div>
