{% if node.relPath != "/" -%}
<h1>{{ node.title }}</h1>

<div>
    <div>
        <span>{{ node._container.__class__.__name__ }}</span>
        -
        <span>{{ node._container.identifier }}</span>
    </div>
    <div>
        {% if node.isForeign -%}
            <i class="minus circle icon" title="Noch nicht importiert"></i>
        {% else -%}
            <i class="check circle icon" title="Bereits importiert"></i>
        {% endif -%}
        {% if node.isDirty -%}
            <i class="warning circle icon" title="Enthält unbekannte tags {{ node.unknownTags }}"></i>
        {% endif -%}
        {% if node.hasTodos -%}
            <i class="hand pointer icon" title="Hat offene Todos"></i>
        {% endif -%}
        {% if node.hasSmilies -%}
            <i class="meh icon" title="Verwendet smilies"></i>
        {% endif -%}
    </div>
    <div>
        {% if node.hasOneAuthor -%}
        Von {{ node.allAuthors[0] }}
        {% else -%}
        Von {{ ", ".join(node.allAuthors) }}
        {% endif -%}
    </div>
    <div
        {% if node.creationDate != node.lastUpdate -%}
        title="zuletzt aktualisiert: {{ node.lastUpdate }}"
        {% endif -%}>
        erstellt am {{ node.creationDate }}
    </div>
</div>
{% endif -%}

{#see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article#}
<article>
    {{ node }}
</article>
