{% if not node.isRoot -%}
<h1>{{ node.title }}</h1>

{#see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article#}
<article class="max-w-3xl prose prose-sm lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    {{ node }}
</article>

<div class="mt-8 flex flex-auto px-8 border">
    <div>
        {{ node._container.__class__.__name__ }}({{ node._container.identifier }})
    </div>
    <div>
        {% if node.isForeign -%}
            <span title="Noch nicht importiert">
                <svg class="w-6 h-6"  fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </span>
        {% else -%}
            <span title="Bereits importiert" >
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </span>
        {% endif -%}
        {% if node.isDirty -%}
            <span title="Enthält unbekannte tags {{ node.unknownTags }}">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path></svg>
            </span>
        {% endif -%}
        {% if node.hasTodos -%}
            <span title="Hat offene Todos">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11"></path></svg>
            </span>
        {% endif -%}
        {% if node.hasSmilies -%}
            <span title="Verwendet smilies">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.172 16.172a4 4 0 015.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </span>
        {% endif -%}
    </div>
    <div>
        {% if node.hasOneAuthor -%}
        Von {{ node.allAuthors[0] }}
        {% else -%}
        Von {{ ", ".join(node.allAuthors) }}
        {% endif -%}
    </div>
    <div
        {% if node.creationDate != node.lastUpdate -%}
        title="zuletzt aktualisiert: {{ node.lastUpdate }}"
        {% endif -%}>
        erstellt am {{ node.creationDate }}
    </div>
</div>
{% endif -%}
