{% if not node.isRoot -%}
<h1>{{ node.title }}</h1>

{#see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article#}
<article class="max-w-3xl prose prose-sm lg:prose-lg xl:prose-xl 2xl:prose-2xl">
    {{ node }}
</article>

<div class="mt-8 flex flex-auto px-8 border">
    <div>
        {{ node.contcon.__class__.__name__ }}({{ node.contcon.identifier }})
    </div>
    <div>
        {% if node.hasOneAuthor -%}
        Von {{ node.allAuthors[0] }}
        {% else -%}
        Von {{ ", ".join(node.allAuthors) }}
        {% endif -%}
    </div>
    <div
        {% if node.creationDate != node.lastUpdate -%}
        title="zuletzt aktualisiert: {{ node.lastUpdate }}"
        {% endif -%}>
        erstellt am {{ node.creationDate }}
    </div>
</div>
{% endif -%}
