{% extends "__base__.html" -%}

{% block content -%}
    <div id="main">
        <div>
            <div>
                <div>
                    {% if NAV.readyForPrimeTime -%}
                        Alles in Ordnung!
                    {% else -%}
                        <div>
                            {{ NAV.openIssues.__len__() }} offene Tasks
                        </div>
                    {% endif -%}
                    {% if NAV.hasBrokenNodes -%}
                        <div>
                            Warnung: kaputte Nodes (check log)
                        </div>
                    {% endif -%}
                </div>
            </div>
        </div>
        <div>
            {% if NAV.orphanNodes -%}
                <div>
                    <div>
                        {{ NAV.orphanNodes.__len__() }} Artikel in Inhalt aber nicht in Struktur.
                    </div>
                    {% for node in NAV.orphanNodes -%}
                        <div>
                            <a href="{{ url_for("article_route", topicId=node.identifier) }}">
                                {{ node.title }} ({{ node.identifier }})
                            </a>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}

            {% if NAV.todoNodes -%}
                <div>
                    <div>
                        {{ NAV.todoNodes.__len__() }} Artikel mit offenen Todos.
                    </div>
                    {% for node in NAV.todoNodes -%}
                        <div>
                            <a href="{{ url_for("article_route", topicId=node.identifier) }}">{{ node.title }}</a>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}
        </div>

        <div></div>

        <div>
            {% if NAV.dirtyNodes -%}
                <div>
                    <div>
                        {{ NAV.dirtyNodes.__len__() }} Artikel mit unbekannten tags
                    </div>
                    {% for node in NAV.dirtyNodes -%}
                        <div>
                            <div>
                                <a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a>
                            </div>
                            <div>
                                {% for tag in node.unknownTags -%}
                                    <span>{{ tag }}</span>
                                {% endfor -%}
                            </div>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}

            {% if NAV.foreignNodes -%}
                <div>
                    <div>
                        {{ NAV.foreignNodes.__len__() }} Artikel die noch nicht importiert sind.
                    </div>
                    {% for node in NAV.foreignNodes -%}
                        <div>
                            <a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}
        </div>

        <div></div>

        <div>
            {% if NAV.smilieNodes -%}
                <div>
                    <div>
                        {{ NAV.smilieNodes.__len__() }} Artikel mit Smilies
                    </div>
                    {% for node in NAV.smilieNodes -%}
                        <div>
                            <div>
                                <a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a>
                            </div>
                            <div>
                                {% for smilie in node.smilies -%}
                                    <span>{{ smilie }}</span>
                                {% endfor -%}
                            </div>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}

            {% if NAV.brokenBBCodeNodes -%}
                <div>
                    <div>
                        Ganz doll kaputt: {{ NAV.brokenBBCodeNodes.__len__() }}
                    </div>
                    {% for node in NAV.brokenBBCodeNodes -%}
                        <div>
                            <div>
                                <a href="{{ node.sourceLink}}">
                                    Quelle: {{ node.identifier }}
                                </a>
                            </div>
                            <div>
                                <a href="{{ node.relPath }}">
                                    Fehlermeldung: {{ node.identifier }}
                                </a>
                            </div>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}
        </div>

        <div></div>

        <div>
            {% if NAV.brokenMetadataNodes -%}
                <div>
                    <div>
                        {{ NAV.brokenMetadataNodes.__len__() }} Artikel mit fehlerhaften Metadaten
                    </div>
                    {% for node in NAV.brokenMetadataNodes -%}
                        <div>
                            <div>
                                <a href="{{ node.relPath}}">{{ node.title }}</a>
                            </div>
                            <div>
                                {{ node._container.md.invalidAttributes }}
                            </div>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}
        </div>

    </div>
{% endblock content -%}
