{% if node.relPath != "/" -%}
<h1 class="ui header">{{ node.title }}</h1>

<div class="ui horizontal stackable segments">
    <div class="ui segment left aligned">
        <span class="section">{{ node._container.__class__.__name__ }}</span>
        -
        <span class="section">{{ node._container.identifier }}</span>
    </div>
    <div class="ui segment left aligned">
        {% if node.isForeign -%}
            <i class="minus circle icon" title="Noch nicht importiert"></i>
        {% else -%}
            <i class="check circle icon" title="Bereits importiert"></i>
        {% endif -%}
        {% if node.isDirty -%}
            <i class="warning circle icon" title="Enthält unbekannte tags {{ node.unknownTags }}"></i>
        {% endif -%}
        {% if node.hasTodos -%}
            <i class="hand pointer icon" title="Hat offene Todos"></i>
        {% endif -%}
        {% if node.hasSmilies -%}
            <i class="meh icon" title="Verwendet smilies"></i>
        {% endif -%}
    </div>
    <div class="ui segment left aligned">
        {% if node.hasOneAuthor -%}
        Von {{ node.allAuthors[0] }}
        {% else -%}
        Von {{ ", ".join(node.allAuthors) }}
        {% endif -%}
    </div>
    <div class="ui segment center aligned"
        {% if node.creationDate != node.lastUpdate -%}
        title="zuletzt aktualisiert: {{ node.lastUpdate }}"
        {% endif -%}>
        erstellt am {{ node.creationDate }}
    </div>
</div>
{% endif -%}

{#see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article#}
<article class="ui segment">
    {{ node }}
</article>
