{% if node.relPath != "/" %}
<h1 class="ui header">{{ node.title }}</h1>

<div class="ui compact horizontal segments">
    <div class="ui segment left aligned">
        {% if node.article.isForeign %}
            <i class="minus circle icon" title="Noch nicht importiert"></i>
        {% else %}
            <i class="check circle icon" title="Bereits importiert"></i>
        {% endif %}
        {% if node.article.isDirty %}
            <i class="warning circle icon" title="Enthält unbekannte tags {{ node.article.unknownTags }}"></i>
        {% endif %}
        {% if node.article.hasTodos %}
            <i class="hand pointer icon" title="Hat offene Todos"></i>
        {% endif %}
    </div>
    <div class="ui segment left aligned">
        {% if node.article.hasOneAuthor %}
        Von {{ node.article.allAuthors[0] }}
        {% else %}
        Von {{ ", ".join(node.article.allAuthors) }}
        {% endif %}
    </div>
    <div class="ui segment center aligned"
        {% if node.article.creationDate != node.article.lastUpdate %}
        title="zuletzt aktualisiert: {{ node.article.lastUpdate }}"
        {% endif %}>
        erstellt am {{ node.article.creationDate }}
    </div>
</div>
{% endif %}

{#see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article#}
<article class="ui segment">
    {{ node.article }}
</article>
