<!doctype html>
<html class="no-js" lang="de">
<head>
    <title>ADFD</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename=APP.SEMANTIC_CSS_PATH) }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename=APP.MY_CSS_FILE_NAME) }}"/>
</head>
<body>

{% with node=node -%}
    {% include "navbar-top.html" -%}
{% endwith -%}

{% block content -%}{% endblock content -%}

<div class="ui hidden divider"></div>

{% with node=node -%}
    {% include "footer.html" -%}
{% endwith -%}

<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename=APP.JS_PATH) }}"></script>
</body>
</html>
