<!doctype html>
<html class="no-js" lang="de">
<head>
    <title>ADFD</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename=APP.CSS_PATH) }}"/>
</head>
<body>

{% if navigation %}
<div class="ui fixed menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo" src="{{ url_for('static', filename='img/logo78x81.png') }}">
        </a>
        <div class="ui simple dropdown item">
            {{ navigation | safe }}
        </div>
    </div>
</div>
<div class="adfd-spacer"><!-- clear height of fixed menu --></div>
{% endif %}

{% block content %}{% endblock content %}

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Sachen</h4>
                <div class="ui inverted link list">
                    <a href="/" class="item">Start</a>
                    <a href="/" class="item">Zeug</a>
                    <a href="/" class="item">Sachen</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Dinge</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Noch ein Link</a>
                    <a href="#" class="item">Ein weiterer Link</a>
                    <a href="#" class="item">Woanders hin</a>
                </div>
            </div>
            <div class="ten wide column">
                <h4 class="ui inverted header">Irgendwas wichtiges</h4>
                <p>Hier könnte was wichtiges stehen, was man auf jeden Fall lesen sollte.
                Wenn man es schafft bis hier unten hin zu scrollen!</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="{{ url_for('static', filename='img/logo78x81.png') }}" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Kontakt</a>
            <a class="item" href="#">Forenregeln</a>
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename=APP.JS_PATH) }}"></script>
</body>
</html>
