{% extends "base.html" -%}

{% block content -%}
    <div id="main">
        <div class="ui 16 column stackable grid container">
            <div class="ui column sixteen wide">
                <div class="ui huge inverted orange center aligned segment">
                    {% if NAV.readyForPrimeTime %}
                        Alles in Ordnung!
                    {% else %}
                        {{ NAV.openIssues.__len__() }} offene Tasks
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="ui two column stackable grid container">
            {% if NAV.orphanNodes -%}
                <div class="ui column eight wide">
                    <div class="ui huge inverted orange center aligned segment">
                        {{ NAV.orphanNodes.__len__() }} Artikel in Inhalt aber nicht in Struktur.
                    </div>
                    {% for node in NAV.orphanNodes -%}
                        <div class="ui segment">
                            <a href="{{ url_for("article_route", topicId=node.identifier) }}">{{ node.title }}</a>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}

            {% if NAV.todoNodes -%}
                <div class="ui column eight wide">
                    <div class="ui huge inverted orange center aligned segment">
                        {{ NAV.todoNodes.__len__() }} Artikel mit offenen Todos.
                    </div>
                    {% for node in NAV.todoNodes -%}
                        <div class="ui segment">
                            <a href="{{ url_for("article_route", topicId=node.identifier) }}">{{ node.title }}</a>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}
        </div>

        <div class="ui divider"></div>

        <div class="ui two column stackable grid container">
            {% if NAV.dirtyNodes -%}
                <div class="column eight wide">
                    <div class="ui huge inverted orange center aligned segment">
                        {{ NAV.dirtyNodes.__len__() }} Artikel mit unbekannten tags
                    </div>
                    {% for node in NAV.dirtyNodes -%}
                        <div class="ui horizontal segments">
                            <div class="ui segment">
                                <a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a>
                            </div>
                            <div class="ui horizontal segments">
                                {% for tag in node.unknownTags -%}
                                    <span class="ui compact segment">{{ tag }}</span>
                                {% endfor -%}
                            </div>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}

            {% if NAV.foreignNodes -%}
                <div class="column eight wide">
                    <div class="ui huge inverted orange center aligned segment">
                        {{ NAV.foreignNodes.__len__() }} Artikel die noch nicht importiert sind.
                    </div>
                    {% for node in NAV.foreignNodes -%}
                        <div class="ui segment">
                            <a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a>
                        </div>
                    {% endfor -%}
                </div>
            {% endif -%}
        </div>

        <div class="ui divider"></div>

        <div class="ui two column stackable grid container">
            {% if NAV.smilieNodes -%}
                <div class="column eight wide">
                    <div class="ui huge inverted orange center aligned segment">
                        {{ NAV.smilieNodes.__len__() }} Artikel mit Smilies
                    </div>
                    {% for node in NAV.smilieNodes -%}
                        <div class="ui horizontal segments">
                            <div class="ui segment">
                                <a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a>
                            </div>
                            <div class="ui horizontal segments">
                                {% for smilie in node.smilies -%}
                                    <span class="ui compact segment">{{ smilie }}</span>
                                {% endfor -%}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif -%}
        </div>
    </div>

{% endblock content -%}
