{% extends "base.html" -%}

{% block content -%}
    <h1 class="ui header">Alle Artikel</h1>

    {% if NAV.dirtyNodes %}
        <div class="ui segments">
            <div class="ui huge orange inverted segment">
                <p>{{ NAV.dirtyNodes.__len__() }} Artikel mit unbekannten tags.</p>
            </div>

            {% for node in NAV.dirtyNodes -%}
                <div class="ui horizontal segments">
                    <div class="ui segment">
                        <p><a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a></p>
                    </div>
                    <div class="ui horizontal segments">
                        {% for tag in node.article.unknownTags %}
                            <div class="ui compact segment">
                                <p>{{ tag }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor -%}
        </div>
    {% endif %}


    {% for node in nodes -%}
        <div class="ui segment">
            <a href="{{ url_for("path_route", path=node.relPath) }}">{{ node.title }}</a>
            {% if node.article.isDirty %}
                (dirty)
            {% endif %}
            {# TODO add tag functionality #}
            {% if node.tags|length -%}
                | Tagged:
                {% for node_tag in node.meta.tags -%}
                    <a href="{{ url_for("tag", tag=node_tag) }}">{{ node_tag }}</a>
                {% endfor -%}
            {% endif -%}

        </div>
    {% else -%}
        <div class="secondary segment">No nodes.</div>
    {% endfor -%}

{% endblock content -%}
