{#TODO replace boilerplate #}
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Sachen</h4>
                <div class="ui inverted link list">
                    <a href="/" class="item">Start</a>
                    <a href="/" class="item">Zeug</a>
                    <a href="/" class="item">Sachen</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Dinge</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Noch ein Link</a>
                    <a href="#" class="item">Ein weiterer Link</a>
                    <a href="#" class="item">Woanders hin</a>
                </div>
            </div>
            <div class="ten wide column">
                <div class="ui inverted header">Letztes Update</div>
                <div class="center aligned">{{ VERSION }}</div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img class="ui centered mini image" alt="ADFD logo"
             src="{{ url_for('static', filename='img/logo78x81.png') }}">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Kontakt</a>
            <a class="item" href="#">Forenregeln</a>
        </div>
    </div>
</div>
