{#TODO replace boilerplate #}
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Links</h4>
                <div class="ui inverted link list">
                    {% if IS_DEV -%}
                        {% if node -%}
                            {% if node.sourceLink -%}
                                <div class="item">
                                    <a href="{{ node.sourceLink }}" target="_blank">[TOPIC]</a>
                                </div>
                            {% endif -%}
                            {% if node.bbcode_is_active %}
                                <a href="{{ node.requestPath.partition(NAME.BBCODE)[-1] }}">[HTML]</a>
                            {% else %}
                                <a href="/{{ NAME.BBCODE }}{{ node.requestPath }}">[BBCODE]</a>
                            {% endif %}
                        {% endif -%}
                        <a href="/check/" class="item">[CHECK PAGES]</a>
                        <a href="/all-articles/" class="item">[ALL ARTICLES]</a>
                        <a href="/nav-populate/" class="item">[REFRESH NAV]</a>
                        <a href="/dump-db-cache/" class="item">[DUMP DB CACHE]</a>
                    {%  else -%}
                        <a href="/" class="item">Home</a>
                    {% endif -%}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Dinge</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Noch ein Link</a>
                    <a href="#" class="item">Ein weiterer Link</a>
                    <a href="#" class="item">Woanders hin</a>
                </div>
            </div>
            <div class="ten wide column">
                <div class="ui inverted header">Letztes Update</div>
                <div class="center aligned">{{ NAV.last_update }}</div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img class="ui centered mini image" alt="ADFD logo"
             src="{{ url_for('static', filename='img/spiral-in-circle.png') }}">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Kontakt</a>
            <a class="item" href="#">Forenregeln</a>
        </div>
    </div>
</div>
