{% extends "base.html" -%}

{% block content -%}
    <div id="main" class="ui three column doubling stackable grid container">
        <div class="column two wide">
            <div class="row">row in left column</div>
        </div>
        <div class="column twelve wide main text container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="ui big center aligned card">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% if node and node.parents %}
                {% with node=node -%}
                    {% include "_breadcrumbs.html" -%}
                {% endwith -%}
            {% endif %}
            {% with node=node -%}
                {% include "_article.html" -%}
            {% endwith -%}
        </div>
        <div class="column two wide">
            <div class="row">row in right column</div>
        </div>
    </div>

    <div>&nbsp;</div> {#  FIXME add padding instead #}
{% endblock content -%}
