{% extends "base.html" -%}

{% block content -%}
    {% if node.relPath != "/" %}
    <h1 class="ui header">{{ node.article.title }}</h1>

    <div class="ui compact horizontal segments">
        <div class="ui segment left aligned">
            {% if node.article.hasOneAuthor %}
            Von {{ node.article.allAuthors[0] }}
            {% else %}
            Von {{ ", ".join(node.article.allAuthors) }}
            {% endif %}
        </div>
        <div class="ui segment center aligned"
            {% if node.article.creationDate != node.article.lastUpdate %}
            title="zuletzt aktualisiert: {{ node.article.lastUpdate }}"
            {% endif %}>
            erstellt am {{ node.article.creationDate }}
        </div>
    </div>
    {% endif %}

    {#see: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article#}
    <article class="ui ">
        {{ node.article }}
    </article>
{% endblock content -%}
